/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .body-content {
    margin-left: 0;
    border-bottom-left-radius: 0;
    height: calc(100vh);
  }
  .nos-box img {
    width: 100%;
  }
  .addbtn {
    bottom: 1.5rem;
    right: 1.5rem;
    width: 40px;
    height: 40px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767.98px) {
  .body-content {
    margin-left: 1rem;
    border-bottom-left-radius: 1rem;
    height: calc(100vh - 1rem);
  }
  .nos-box img {
    width: 50%;
  }
}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .body-content {
    margin-left: 2.5rem;
    border-bottom-left-radius: 2rem;
    height: calc(100vh - 2.5rem);
  }
  .nos-box img {
    width: 40%;
  }
  .site-desc {
    width: 40%;
  }
}

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}